<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<% if @document.document_image? %>
  <p>
    <strong>Document Image:</strong><br />
    <%= image_tag @document.document_image.url, height: '500px' %>
  </p>

  <p>
    <%= form_with url: document_texts_path(@document.id), method: :get, local: false do |form| %>
      <strong>Language:</strong>
      English:<%= form.radio_button :language, 'eng', checked: true %>
      Japanese:<%= form.radio_button :language, 'jpn' %>
      <br />
      <%= submit_tag "ライブラリのOCR実行" %>
    <% end %>
    <div class="js-ocr-result"></div>
  </p>

  <p>
    <%= form_with url: document_vision_texts_path(@document.id), method: :get, local: false do |form| %>
      <%= submit_tag "Cloud VisionのOCR実行" %>
    <% end %>
    <div class="js-vision-result"></div>
  </p>
<% end %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
